*.secret
/newsbeuter/cache.db
/newsbeuter/history.*
/vim/bundle
/pry/themes/pry-classic-16.prytheme.rb
/pry/themes/pry-classic-256.prytheme.rb
/pry/themes/pry-classic-8.prytheme.rb
/pry/themes/pry-cold.prytheme.rb
/pry/themes/pry-love-16.prytheme.rb
/pry/themes/pry-love-8.prytheme.rb
/pry/themes/pry-modern-16.prytheme.rb
/pry/themes/pry-modern-256.prytheme.rb
/pry/themes/pry-modern-8.prytheme.rb
/pry/themes/pry-monochrome.prytheme.rb
/pry/themes/pry-siberia-16.prytheme.rb
/pry/themes/pry-siberia-8.prytheme.rb
/pry/themes/pry-tepid-16.prytheme.rb
/pry/themes/pry-tepid-8.prytheme.rb
/pry/themes/pry-zealand-16.prytheme.rb
/pry/themes/pry-zealand-8.prytheme.rb
/pry/themes/zenburn.prytheme.rb
/vim/swap/*
!/vim/swap/.keep
